*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: beige;
  font-size: 1.4vw;
}
.main{
margin-top: 10vh;
}
input{
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 20px 4px;
  margin: 10vh 0px 10vh 0px;
  background-color: #cfbfbf23;
}
button{
  background: #000;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 1.4vw;
  border-radius: 20px;
}
.calc-container{
  background: #272323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 20vw;
 height: 50vh;
  border-radius: 20px;
margin-bottom: 6vh;
}

.bg{
  background: #000;
  width: 30vw;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}